<div class="flip-section mt-80 clearfix">

    <div class="pull-left button-sect mt-25">
        <div class="navigate-slip">
            <a class="text-decoration-none disabled" href="javascript:void(0)"> < </a>
            <a href="javascript:void(0)"> > </a>
        </div>

        <div class="sideline-css">
            <div class="line"></div>
            <div class="text">Flip To Scroll</div>
            <div class="line secondary"></div>

             <div class="text">01 / 08</div>
        </div>

    </div>


    <div class="pull-right view-more-section">
        <button class="view-more-button">
            > View More
        </button>
    </div>

</div>
