<footer>

</footer>

<section class="sm-footer-design">
    <div class="container row-gutters-void">
        <div class="pull-left">
            <span class="sm-footer-copyright">
                &copy; @DateTime.Now.Year Azan Properties.
                All Right Reserved.
            </span>
        </div>

        <div class="pull-right">

        </div>
    </div>
</section>
