@{
    ViewBag.Title = "Property Detail Tabs";
}
<link rel="stylesheet" href="../../Content/Styles/propertyDetail.css"/>

<section style="background-image: url('../../Content/Graphical Assets/Property Details/banner_property_details.jpg')" class="property-details-banner-styling property-banner clearfix">
    <div class="container row-gutters-void ">
        <h1>Property Details</h1>
    </div>
</section>


<section class="container mt-100 row-gutters-void property-detail">
    <div class="col-md-3 col-sm-12 row-gutters-void">
        <h4 class="heading-detail-design">Sui Gas Housing Society <br>Phase 2 Latest Update Plot Prices, <br>Transfer Fees Location and Video</h4>
    </div>

    <div class="col-sm-12 col-md-offset-1 col-lg-8 row-gutters-void">
        <p class="content-detail-design">
            Aenean sed lorem est. Sed quis neque ut nibh suscipit imperdiet ac non augue. Aenean ornare sit amet lectus non tristique. Nunc ut volutpat lectus. Nulla velit augue, pulvinar sed nisi sit amet, eleifend fermentum est. Quisque nibh justo, congue ut erat at, aliquet efficitur purus. Integer venenatis odio vitae orci efficitur mollis. Donec ultrices diam dictum dignissim vestibulum. Proin eleifend nunc nunc. Sed non arcu eget lorem viverra sodales. Aenean sed lorem est. Sed quis neque ut nibh suscipit imperdiet ac non augue. Aenean ornare sit amet lectus non tristique. Nunc ut volutpat lectus. Nulla velit augue, pulvinar sed nisi sit amet, eleifend fermentum est. Quisque nibh justo, congue ut erat at, aliquet efficitur purus. Integer venenatis odio vitae orci efficitur mollis. Aenean sed lorem est. Sed quis neque ut nibh suscipit imperdiet ac non augue. <br>
            <br>
            Aenean ornare sit amet lectus non tristique. Nunc ut volutpat lectus. Nulla velit augue, pulvinar sed nisi sit amet, eleifend fermentum est. Quisque nibh justo, congue ut erat at, aliquet efficitur purus. Integer venenatis odio vitae orci efficitur mollis. Donec ultrices diam dictum dignissim vestibulum. Proin eleifend nunc nunc. Sed non arcu eget lorem viverra sodales. <br>
            <br>
            Aenean sed lorem est. Sed quis neque ut nibh suscipit imperdiet ac non augue. Aenean ornare sit amet lectus non tristique. Nunc ut volutpat lectus. Nulla velit augue, pulvinar sed nisi sit amet, eleifend fermentum est. Quisque nibh justo, congue ut erat at, aliquet efficitur purus. Integer venenatis odio vitae orci efficitur mollis.
        </p>
    </div>
</section>

<section class="container mt-50 row-gutters-void property-gallery" id="section-gallery">
    <a href="../../Content/Graphical Assets/Property Details/image.jpg">
        <img class="img-responsive" src="../../Content/Graphical Assets/Property Details/image.jpg" alt="">
    </a>

</section>


<section class="container mt-100 row-gutters-void property-detail mt-60">
    <div class="col-md-12 col-sm-12 row-gutters-void">
        <h4 class="heading-detail-design">
            Lorem Ipsum
        </h4>
    </div>

    <div class="col-sm-12 col-md-12 row-gutters-void mt-50">
        <p class="content-detail-design ">
            Aliquam in bibendum mauris. Sed vitae erat vel velit blandit pharetra vitae nec ante. Cras at est augue. Cras ut interdum elit. Ut malesuada a urna sit amet blandit. Nullam nunc lorem, aliquam at eros laoreet, feugiat bibendum ligula. Aenean congue, massa id aliquet semper, ligula ante tristique nulla, quis posuere dui purus vel urna. Nullam varius, magna nec egestas convallis, orci ex tempus quam, id finibus arcu ipsum fringilla purus. Aenean dapibus suscipit eleifend. Aliquam vel ipsum eu lorem hendrerit iaculis vitae ut lorem. Suspendisse ullamcorper dolor faucibus sem auctor consequat. Ut luctus posuere auctor. Sed non molestie metus.
        </p>
    </div>
</section>


<section class="container mt-40 row-gutters-void table-section-property">
    <div class="table-responsive">
        <table class="table property-detail-table">
            <thead>
            <tr>
                <th>Sr#</th>
                <th>Phase/Sector</th>
                <th>1 Kanal Plot Prices (PKR)</th>
                <th>1 Kanal Plot Prices (PKR)</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>01</td>
                <td>A-Block</td>
                <td>
                    <span>
                        45 to 70 Lacs
                        <br>
                        (Prices on 120′ road are 82 to 85 Lacs)
                    </span>
                </td>
                <td>
                    <span>
                        120 to 160 Lacs
                    </span>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>A-Block</td>
                <td>
                    <span>
                        45 to 70 Lacs
                        <br>
                        (Prices on 120′ road are 82 to 85 Lacs)
                    </span>
                </td>
                <td>
                    <span>
                        120 to 160 Lacs
                    </span>
                </td>
            </tr>
             <tr>
                            <td>03</td>
                            <td>A-Block</td>
                            <td>
                                <span>
                                    45 to 70 Lacs
                                    <br>
                                    (Prices on 120′ road are 82 to 85 Lacs)
                                </span>
                            </td>
                            <td>
                                <span>
                                    120 to 160 Lacs
                                </span>
                            </td>
                        </tr>
            </tbody>
        </table>
    </div>
</section>


<section class="container mt-100 row-gutters-void section-similar-property">
    <div class="col-sm-12 col-md-12 row-gutters-void">
        <h4>Similar Properties</h4>
    </div>


    <div class="container row-gutters-void mt-50  property-listed-items">
        <div class="col-sm-12 col-md-4 individual-item clearfix">
            <div class="all-layering">
                @* Image of Property *@
                <img class="img-responsive" src="../../Content/Graphical Assets/Common/h1@2x.png" alt="Home Design 1"/>
                @* Property Name *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <h3 class="property-name">Lovelace Greenfield</h3>
                </div>
                @* Property Specification *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Area</div>
                        <div class="pull-right specification-value"> 34000/M2</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Beds</div>
                        <div class="pull-right specification-value"> 3 Beds</div>
                    </div>
                    <div class="col-md-12 col-sm-12 property-specifications">
                        <div class="pull-left specification-name"> Bath</div>
                        <div class="pull-right specification-value"> 2 Bath</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Price</div>
                        <div class="pull-right specification-value price"> Rs:10,00000</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
                    <button
                        onclick="location.href='/Property/PropertyDetail/1';"
                        class="property-details-btn">
                        View Details
                    </button>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4 individual-item clearfix">
            <div class="all-layering">
                @* Image of Property *@
                <img class="img-responsive" src="../../Content/Graphical Assets/Common/h2@2x.png" alt="Home Design 2"/>
                @* Property Name *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <h3 class="property-name">Lovelace Greenfield</h3>
                </div>
                @* Property Specification *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Area</div>
                        <div class="pull-right specification-value"> 34000/M2</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Beds</div>
                        <div class="pull-right specification-value"> 3 Beds</div>
                    </div>
                    <div class="col-md-12 col-sm-12 property-specifications">
                        <div class="pull-left specification-name"> Bath</div>
                        <div class="pull-right specification-value"> 2 Bath</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Price</div>
                        <div class="pull-right specification-value price"> Rs:10,00000</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
                    <button
                        onclick="location.href='/Property/PropertDetail/1';"
                        class="property-details-btn">
                        View Details
                    </button>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-4 individual-item clearfix">
            <div class="all-layering">
                @* Image of Property *@
                <img class="img-responsive" src="../../Content/Graphical Assets/Common/h3@2x.png" alt="Home Design 3"/>
                @* Property Name *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <h3 class="property-name">Lovelace Greenfield</h3>
                </div>
                @* Property Specification *@
                <div class="col-sm-12 col-md-12  property-details mt-25">
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Area</div>
                        <div class="pull-right specification-value"> 34000/M2</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Beds</div>
                        <div class="pull-right specification-value"> 3 Beds</div>
                    </div>
                    <div class="col-md-12 col-sm-12 property-specifications">
                        <div class="pull-left specification-name"> Bath</div>
                        <div class="pull-right specification-value"> 2 Bath</div>
                    </div>
                    <div class="col-md-12 col-sm-12  property-specifications">
                        <div class="pull-left specification-name"> Price</div>
                        <div class="pull-right specification-value price"> Rs:10,00000</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
                    <button
                        onclick="location.href='/Property/PropertDetail/1';"
                        class="property-details-btn">
                        View Details
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>


<script src="~/Scripts/lightgallery-all.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
<script>
jQuery( document ).ready(function() {
    jQuery("#section-gallery").lightGallery();
});
</script>
