bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Azan Properties/.idea/workspace.xml
.vs/Azan Properties/v16/.suo
.idea/.idea.Azan Properties/.idea/workspace.xml
.idea/.idea.Azan Properties/.idea/workspace.xml
.vs/Image Optimizer/cache-lossless.txt
.vs/Image Optimizer/cache-lossy.txt
.idea/.idea.Azan Properties/.idea/workspace.xml
.idea/.idea.Azan Properties/.idea/workspace.xml
