@font-face {
  font-family: SemplicitaPro;
  src: url("../Content/SemplicitaPro.Woff");
  font-weight: normal;
}
@font-face {
  font-family: SemplicitaProBold;
  src: url("../Content/SemplicitaPro-Bold.Woff");
  font-weight: bold;
}
/* Customize the label (the container) */
.container-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
  color: #000000;
  margin-right: 30px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  border-radius: 6px;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", "sans-serif";
}

#notificationModal .text-styling {
  text-align: center;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: "Poppins", "sans-serif";
  font-size: 20px;
  letter-spacing: 0;
  color: #292929;
}

@media (min-width: 768px) {
  #notificationModal .modal-dialog {
    width: 460px;
    margin: 30px auto;
  }

  #notificationModal .center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
#notificationModal.modal.in {
  background: #7E7E7E 0 0 no-repeat padding-box;
}

#notificationModal .modal-header {
  padding: 40px 0 40px 0;
  border-bottom: 0 solid #e5e5e5;
  position: relative;
}

#notificationModal .modal-body {
  position: relative;
  padding: 0 30px 25px 30px;
}

#notificationModal .closing-button-modal {
  color: #003B49;
  position: absolute;
  left: auto;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border: 1px solid #003B49;
  opacity: 1;
  width: 29px;
  height: 29px;
  font-size: 16px;
  border-radius: 50%;
  right: -5px;
  top: -5px;
}

.sm-header-design {
  background: #003b49 0 0 no-repeat padding-box;
  opacity: 1;
  min-height: 56px;
}

.content-sm-header {
  padding-top: 15px;
}

.link-icon-sm {
  width: 28px;
  height: 28px;
  opacity: 1;
  margin-left: 8px;
}
.link-icon-sm.facebook {
  background: transparent url("Graphical Assets/Common/icon_facebook.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.linkedin {
  background: transparent url("Graphical Assets/Common/icon_linkdin.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.twitter {
  background: transparent url("Graphical Assets/Common/icon_twitter.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.instagram {
  background: transparent url("Graphical Assets/Common/icon_instagram.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm a {
  display: block;
  height: 100%;
}

.sm-icon-placement {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row;
  align-content: stretch;
}

.header-design {
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 24px #0000000A;
}
.header-design .navbar {
  margin-bottom: 0;
}

.icon-header-bar {
  width: 146px;
  cursor: pointer;
  height: 46px;
  background: transparent url("Graphical Assets/Common/logo_header.svg") 0 0 no-repeat padding-box;
  opacity: 1;
  display: table;
}
.icon-header-bar a {
  display: block;
  height: 100%;
}

.sm-footer-copyright {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  color: black;
  opacity: 1;
  vertical-align: sub;
}

.sm-footer-links {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  height: 30px;
  width: 30px;
}
.sm-footer-links.facebook {
  background: transparent url("Graphical Assets/Common/icon_facebook_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.instagram {
  background: transparent url("Graphical Assets/Common/icon_instagram_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.linkedin {
  background: transparent url("Graphical Assets/Common/icon_linkdin_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.twitter {
  background: transparent url("Graphical Assets/Common/icon_twitter_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links a {
  display: block;
}

.sm-footer-design {
  background: #f8f8f8 0 0 no-repeat padding-box;
  border-top: 1px solid #959595;
}

.sm-footer-link-area {
  text-align: right;
}

.footer-links-list {
  padding-left: 0;
  list-style: none;
  float: right;
  margin: 0;
}
.footer-links-list li {
  float: left;
  margin-right: 0;
  margin-left: 30px;
}
.footer-links-list li a {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #707070;
  text-decoration: none;
}

.navbar-anchor-links li a {
  letter-spacing: 0;
  font-size: 14px;
  text-align: left;
  color: #003b49;
  text-transform: capitalize;
  opacity: 1;
}
.navbar-anchor-links > li > a:hover {
  text-decoration: none;
  background: rgba(0, 59, 73, 0.04) 0 0 no-repeat padding-box;
}
.navbar-anchor-links > li > a:focus {
  text-decoration: none;
  background: rgba(0, 59, 73, 0.04) 0 0 no-repeat padding-box;
}

@media (min-width: 768px) {
  .container > .navbar-header {
    margin: 17px 0;
  }

  .navbar-anchor-links li.special-navigation a {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    color: white;
    background: #003b49 0 0 no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
  }

  .navbar-collapse.collapse .navbar-nav {
    margin-left: 300px;
  }

  .navbar-nav > li > a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) {
  .sm-icon-placement {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;
  }

  .footer-links-list {
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
  }
  .footer-links-list li {
    margin-right: 15px;
    margin-left: 0;
  }

  .sm-footer-links {
    cursor: pointer;
    margin-left: 0;
    margin-right: 10px;
  }

  .sm-footer-link-area {
    text-align: left;
    margin-top: 10px;
  }
}
footer {
  background: #f8f8f8 0 0 no-repeat padding-box;
}

.property-details {
  padding-left: 25px;
  padding-right: 25px;
}
.property-details h3 {
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0;
  color: #2b2b2b;
  text-transform: capitalize;
  opacity: 1;
}

.property-specifications {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  clear: both;
}
.property-specifications .specification-name {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  color: black;
  text-transform: capitalize;
}
.property-specifications .specification-value {
  text-align: right;
  color: #959595;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.property-specifications .specification-value.price {
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #1d648f;
  text-transform: capitalize;
}

.navbar-toggle .icon-bar {
  background: #003b49 0 0 no-repeat padding-box;
}

.property-listed-items .individual-item {
  margin-top: 30px;
  border-radius: 12px;
}

.property-listed-items .individual-item {
  padding-left: 0;
}

.property-listed-items .individual-item {
  padding-right: 15px;
}

.property-details-btn {
  background: #003B49 0 0 no-repeat padding-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0 solid transparent;
}

.all-layering {
  clear: both;
  display: inline-block;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 24px #00000014;
}

.page-banner {
  height: 368px;
  opacity: 1;
}

.page-banner-container h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: "SemplicitaPro", serif;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: capitalize;
}

.pagination.ittehad-style > li > a, .pagination.ittehad-style > li > span {
  border: 0 solid #ddd;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  color: #292929;
  margin-left: 0;
  padding: 3px 8px;
}

.pagination.ittehad-style > li > a.active, .pagination.ittehad-style > li > span.active {
  background: #3A3A3A 0 0 no-repeat padding-box;
  color: #FFF;
  border-radius: 50%;
}

.pagination.ittehad-style > li > a:hover {
  background-color: transparent;
  color: #292929;
}

.pagination.ittehad-style > li > a.disabled {
  color: #7D7F85;
}

.pagination-show-result-design {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

/* Portrait and Landscape iPhone/Android */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .sm-footer-link-area {
    text-align: left;
    margin-top: 10px;
  }

  .footer-links-list li {
    margin-right: 15px;
    margin-left: 0;
  }

  .sm-footer-links {
    margin-left: 0;
    margin-right: 10px;
  }

  .sideline-css .line {
    display: none;
  }

  .sideline-css .line.secondary {
    display: none;
  }

  .flip-section .view-more-button {
    display: none;
  }
}
/* iPhone Landscape */
/* Portrait and Landscape IPad Pro */
/* Portrait and Landscape Simple Ipad */
.scrollX {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.scrollX::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6;
}

.scrollX::-webkit-scrollbar {
  height: 8px;
  background-color: #fff;
}

.scrollX::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #12202b;
}

.scrollX .scroll-list {
  width: -moz-max-content;
  width: max-content;
}

.scrollX .scroll-list {
  width: -webkit-max-content;
}

.scrollX .scroll-list .list-container {
  min-width: 325px;
  display: inline-block;
  vertical-align: top;
}

.scrollX.lighter::-webkit-scrollbar-track {
  border: none;
}

.scrollX.lighter::-webkit-scrollbar {
  height: 4px;
}

.scrollX.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.scrollX:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.scrollY {
  overflow-x: hidden;
  padding-right: 10px;
  overflow-y: auto;
}

.scrollY::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #b1b4b6;
}

.scrollY::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.scrollY::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #12202b;
}

.scrollY.scrollX {
  overflow-x: auto;
}

.scrollY.lighter::-webkit-scrollbar-track {
  border: none;
}

.scrollY.lighter::-webkit-scrollbar {
  width: 4px;
}

.scrollY.lighter::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.scrollY.lighter.scroll-visible::-webkit-scrollbar-thumb, .scrollY:hover.lighter::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.gutter-padding-left {
  padding-left: 15px;
}

.gutter-padding-right {
  padding-right: 15px;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: transparent;
  color: #FFFFFF;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
  color: #FFF;
  font-size: 14px;
  height: 26px;
  padding: 2px 8px;
}

#custom-search-input input {
  background-color: transparent;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 18px;
}

/*# sourceMappingURL=common.css.map */
