body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", "sans-serif";
}

.sm-header-design {
  background: #003b49 0 0 no-repeat padding-box;
  opacity: 1;
  min-height: 56px;
}

.content-sm-header {
  padding-top: 15px;
}

.link-icon-sm {
  width: 28px;
  height: 28px;
  opacity: 1;
  margin-left: 8px;
}
.link-icon-sm.facebook {
  background: transparent url("Graphical Assets/Common/icon_facebook.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.linkedin {
  background: transparent url("Graphical Assets/Common/icon_linkdin.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.twitter {
  background: transparent url("Graphical Assets/Common/icon_twitter.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm.instagram {
  background: transparent url("Graphical Assets/Common/icon_instagram.svg") 0 0 no-repeat padding-box;
}
.link-icon-sm a {
  display: block;
  height: 100%;
}

.sm-icon-placement {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row;
  align-content: stretch;
}

.header-design {
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 24px #0000000A;
}
.header-design .navbar {
  margin-bottom: 0;
}

.icon-header-bar {
  width: 146px;
  cursor: pointer;
  height: 46px;
  background: transparent url("Graphical Assets/Common/logo_header.svg") 0 0 no-repeat padding-box;
  opacity: 1;
  display: table;
}
.icon-header-bar a {
  display: block;
  height: 100%;
}

.sm-footer-copyright {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
  color: black;
  opacity: 1;
  vertical-align: sub;
}

.sm-footer-links {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  height: 30px;
  width: 30px;
}
.sm-footer-links.facebook {
  background: transparent url("Graphical Assets/Common/icon_facebook_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.instagram {
  background: transparent url("Graphical Assets/Common/icon_instagram_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.linkedin {
  background: transparent url("Graphical Assets/Common/icon_linkdin_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links.twitter {
  background: transparent url("Graphical Assets/Common/icon_twitter_footer.svg") 0 0 no-repeat padding-box;
  opacity: 1;
}
.sm-footer-links a {
  display: block;
}

.sm-footer-design {
  background: #f8f8f8 0 0 no-repeat padding-box;
  border-top: 1px solid #959595;
}

.sm-footer-link-area {
  text-align: right;
}

.footer-links-list {
  padding-left: 0;
  list-style: none;
  float: right;
  margin: 0;
}
.footer-links-list li {
  float: left;
  margin-right: 0;
  margin-left: 30px;
}
.footer-links-list li a {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  color: #707070;
  text-decoration: none;
}

.navbar-anchor-links li a {
  letter-spacing: 0;
  font-size: 14px;
  text-align: left;
  color: #003b49;
  text-transform: capitalize;
  opacity: 1;
}
.navbar-anchor-links > li > a:hover {
  text-decoration: none;
  background: rgba(0, 59, 73, 0.04) 0 0 no-repeat padding-box;
}
.navbar-anchor-links > li > a:focus {
  text-decoration: none;
  background: rgba(0, 59, 73, 0.04) 0 0 no-repeat padding-box;
}

@media (min-width: 768px) {
  .container > .navbar-header {
    margin: 17px 0;
  }

  .navbar-anchor-links li.special-navigation a {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    color: white;
    background: #003b49 0 0 no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
  }

  .navbar-collapse.collapse .navbar-nav {
    margin-left: 300px;
  }

  .navbar-nav > li > a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) {
  .sm-icon-placement {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;
  }

  .footer-links-list {
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
  }
  .footer-links-list li {
    margin-right: 15px;
    margin-left: 0;
  }

  .sm-footer-links {
    cursor: pointer;
    margin-left: 0;
    margin-right: 10px;
  }

  .sm-footer-link-area {
    text-align: left;
    margin-top: 10px;
  }
}
footer {
  background: #f8f8f8 0 0 no-repeat padding-box;
}

.property-details {
  padding-left: 25px;
  padding-right: 25px;
}
.property-details h3 {
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0;
  color: #2b2b2b;
  text-transform: capitalize;
  opacity: 1;
}

.navbar-toggle .icon-bar {
  background: #003b49 0 0 no-repeat padding-box;
}

.property-listed-items .individual-item {
  margin-top: 30px;
}

/*# sourceMappingURL=common.css.map */
