<link rel="stylesheet" href="../../Content/Styles/search.css"/>
@* @{ *@
@*     ViewBag.Title = "title"; *@
@* } *@
<section class="search-banner-styling search-banner">
    <div class="container row-gutters-void ">

        <div class="search-container-styling clearfix">
            <div class="location-dd" id="location-dd">
                <select>
                    <option value="0">
                        Location
                    </option>

                    <option value="1">
                        Location 1
                    </option>

                    <option value="2">
                        Location 2
                    </option>

                </select>
            </div>

            <div class="price-from-dd" id="from-dd">
                <select>
                    <option value="0">
                        Price From
                    </option>

                    <option value="1">
                       100000 PKR
                    </option>

                    <option value="2">
                        500000 PKR
                    </option>

                </select>
            </div>

            <div class="price-to-dd" id="to-dd">
                <select>
                    <option value="0">
                       Price To
                    </option>

                    <option value="1">
                        100000 PKR
                    </option>

                    <option value="2">
                        200000 PKR
                    </option>

                </select>
            </div>

            <div class="type-dd" id="type-dd">
                <select>
                    <option value="0">
                        Property Search
                    </option>

                    <option value="1">
                        Apartment
                    </option>

                    <option value="2">
                        House
                    </option>

                </select>
            </div>

            <button class="search-filter-button">
                Search
            </button>
        </div>

    </div>
</section>
