@{
    ViewBag.Title = "Inquiry";
}

<link rel="stylesheet" href="~/Content/Styles/inquiry.css"/>

<section class="container-fluid row-gutters-void page-banner">
    <div class="container row-gutters-void page-banner-container">
        <h1 class="heading-detail-design">Customer Request</h1>
    </div>
</section>
