@using System.Web.UI.WebControls
@model dynamic

@{
    ViewBag.Title = "Contact Query Submit";
}

<div class="container row-gutters-void text-center">
    <h2>Contact Query Submitted</h2>
    <h6>Ticket ID: </h6>
    Click here to <a onclick="window.history.back()" href="javascript:void(0)">Continue</a> with the website
</div>
