<link rel="stylesheet" href="~/Content/Styles/homepage.css"/>
@{ ViewBag.Title = "Home Page"; }
<div style="min-height: 1000px" class="body-content">

@* Featured Properties *@
<section class="feature-section mt-100">
<div class="container row-gutters-void">
    <div class="col-sm-12 col-md-12 row-gutters-void text-center">
        <span class="feature-subheading-styling">Features</span>
    </div>
    <div class="col-sm-12 col-md-12 row-gutters-void text-center">
        <h2 class="feature-heading-styling mt-10"> Featured House With <br> Azan Properties</h2>
    </div>
</div>
<div class="container row-gutters-void property-listed-items">
<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h1@2x.png" alt="Home Design 1"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h2@2x.png" alt="Home Design 2"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h3@2x.png" alt="Home Design 3"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h1@2x.png" alt="Home Design 1"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h2@2x.png" alt="Home Design 2"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img class="img-responsive" src="../../Content/Graphical Assets/Common/h3@2x.png" alt="Home Design 3"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>


</div>
<div class="container row-gutters-void extra-functions mt-100">
    <div class="navigation-property-set">

    </div>

    <div class="navigation-all-property">

    </div>
</div>
</section>
</div>


@* <script src="https://kit.fontawesome.com/bd7f11377e.js" crossorigin="anonymous"></script> *@

