<link rel="stylesheet" href="~/Content/Styles/homepage.css"/>
<link rel="stylesheet" href="~/Content/Styles/carousel.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
      integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
@{ ViewBag.Title = "Home Page"; }
<div style="min-height: 1000px" class="body-content">

<section class="page-banner-section">
@RenderPage("Carousel.cshtml")
    </section>

@* Featured Properties *@
<section class="feature-section mt-100">
<div class="container row-gutters-void">
    <div class="col-sm-12 col-md-12 row-gutters-void text-center">
        <span class="feature-subheading-styling text-center">Features</span>
    </div>
    <div class="col-sm-12 col-md-12 row-gutters-void text-center">
        <h2 class="feature-heading-styling mt-10 text-center"> Featured House With <br> Azan Properties</h2>
    </div>
</div>
<div class="container row-gutters-void property-listed-items">
<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h1@2x.png" alt="Home Design 1"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h2@2x.png" alt="Home Design 2"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h3@2x.png" alt="Home Design 3"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h1@2x.png" alt="Home Design 1"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h2@2x.png" alt="Home Design 2"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>

<div class="col-sm-12 col-md-4 individual-item clearfix">
    <div class="all-layering">
        @* Image of Property *@
        <img loading="lazy" class="img-responsive" src="../../Content/Graphical Assets/Common/h3@2x.png" alt="Home Design 3"/>
        @* Property Name *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <h3 class="property-name">Lovelace Greenfield</h3>
        </div>
        @* Property Specification *@
        <div class="col-sm-12 col-md-12  property-details mt-25">
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Area</div>
                <div class="pull-right specification-value"> 34000/M2</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Beds</div>
                <div class="pull-right specification-value"> 3 Beds</div>
            </div>
            <div class="col-md-12 col-sm-12 property-specifications">
                <div class="pull-left specification-name"> Bath</div>
                <div class="pull-right specification-value"> 2 Bath</div>
            </div>
            <div class="col-md-12 col-sm-12  property-specifications">
                <div class="pull-left specification-name"> Price</div>
                <div class="pull-right specification-value price"> Rs:10,00000</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 property-details mt-10 mb-25">
            <button
                onclick="location.href='/Property/PropertyDetail/1';"
                class="property-details-btn">
                View Details
            </button>
        </div>
    </div>

</div>


</div>

</section>

@* Flip Section *@
<section class="clearfix">
    <div class="container row-gutters-void">
            @RenderPage("~/Views/Shared/_FilpSection.cshtml")

    </div>
</section>

@* Facts and Number Section *@
<section class="mt-100 facts-section">
    <div class="container row-gutters-void">
        <div class="col-sm-6 col-md-3 fact-block text-center">
            <div class="divider-style">
                <img loading="lazy" src="~/Content/Graphical Assets/Home/icon_property.svg" alt="Property Count"/>
                <p class="facts-styling">100+</p>
                <span class="fact-text-styling">Property</span>
            </div>

        </div>


        <div class="col-sm-6 col-md-3 fact-block text-center">
            <div class="divider-style">
                <img loading="lazy" src="~/Content/Graphical Assets/Home/icon_apartments.svg" alt="Apartment Count"/>
                <p class="facts-styling">120+</p>
                <span class="fact-text-styling">Apartment</span>
            </div>

        </div>

        <div class="col-sm-6 col-md-3 fact-block text-center">

            <div class="divider-style">
                <img loading="lazy" src="~/Content/Graphical Assets/Home/icon_happy_customer.svg" alt="Customer Count"/>
                <p class="facts-styling">150+</p>
                <span class="fact-text-styling">Happy Customer</span>
            </div>

        </div>

        <div class="col-sm-6 col-md-3 fact-block text-center">

            <div class="divider-style">
                <img loading="lazy" src="~/Content/Graphical Assets/Home/icon_to-do-list.svg" alt="Customer Count"/>
                <p class="facts-styling">180+</p>
                <span class="fact-text-styling">Inquiries</span>
            </div>


        </div>

    </div>
</section>


@* Testimonials Section *@
<section class="mt-100 testimonials-section">

    <div class="container row-gutters-void">
        <div class="col-sm-12 col-md-12 row-gutters-void text-left">
            <span class="feature-subheading-styling text-left">Testimonials</span>
        </div>
        <div class="col-sm-12 col-md-12 row-gutters-void text-left">
            <h2 class="feature-heading-styling mt-10 text-left"> What others have to say <br>about us!</h2>
        </div>
    </div>

    <div class="container row-gutters-void mt-50">


        @* First Testimonial *@
        <div class="item individual-item-testimonials">

            <div class="inner-layering">
                <div class="row basic-information">
                    <img loading="lazy" class="img-testimonials pull-left" alt="Testimonials Person 1" src="~/Content/Graphical Assets/Home/t1.png">

                    <div class="pull-left testimonials-person marginize-testimonials">
                        <h5 class="testimonials-person-name">Jacob Oliver</h5>
                        <span class="testimonials-person-designation">Business owner at co.chart</span>
                    </div>

                    <div class="star-rating marginize-testimonials">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star unfilled"></i>
                    </div>

                </div>

                <div class="row basic-information">

                    <div class="pull-left testimonials-person-message-section">
                        <span class="testimonials-person-message">
                            Great service, great quality would recommend with nothing more, nothing less.
                            Thank you MSFDN and will use again in the future for sure.
                        </span>
                    </div>



                </div>

            </div>

        </div>

        @* Second Testimonial *@
        <div class="item individual-item-testimonials">

                        <div class="inner-layering">
                            <div class="row basic-information">
                                <img loading="lazy" class="img-testimonials pull-left" alt="Testimonials Person 1" src="~/Content/Graphical Assets/Home/t1.png">

                                <div class="pull-left testimonials-person marginize-testimonials">
                                    <h5 class="testimonials-person-name">Jacob Oliver</h5>
                                    <span class="testimonials-person-designation">Business owner at co.chart</span>
                                </div>

                                <div class="star-rating marginize-testimonials">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star unfilled"></i>
                                </div>

                            </div>

                              <div class="row basic-information">

                                                    <div class="pull-left testimonials-person-message-section">
                                                        <span class="testimonials-person-message">
                                                            Great service, great quality would recommend with nothing more, nothing less.
                                                            Thank you MSFDN and will use again in the future for sure.
                                                        </span>
                                                    </div>



                                                </div>

                        </div>

                    </div>

    </div>
</section>
@* Flip Section *@
<section class="clearfix">
    <div class="container row-gutters-void">
            @RenderPage("~/Views/Shared/_FilpSection.cshtml")

    </div>
</section>

@* Contact Us Section *@
<section class="mt-100 contact-us-section">
    <div class="container styling-div row-gutters-void">
        <div class="col-md-7 col-sm-12 form-section">
            <p class="form-subheading">Contact Us</p>
            <h4 class="form-mainheading">Get In Touch</h4>

            <form class="" action="/Home/ContactUsQuery" method="post">
                <div class="row ml-0 mt-40">

                    <div class="col-sm-6 pl-0 col-md-6">
                        <label>First Name</label>
                        <input required placeholder="Enter First Name" class="form-control" type="text" id="FirstName" name="FirstName">
                    </div>

                    <div class="col-sm-6 pl-0 col-md-6">
                        <label>Last Name</label>
                        <input required placeholder="Enter Last Name" class="form-control" type="text" id="LastName" name="LastName">
                    </div>

                </div>


                <div class="row ml-0 mt-40">

                    <div class="col-sm-6 col-md-6 pl-0">
                        <label>Email</label>
                        <input required placeholder="Enter Email" class="form-control" type="Email" id="Email" name="Email">
                    </div>

                    <div class="col-sm-6 col-md-6 pl-0">
                        <label>Subject</label>
                        <input placeholder="Enter Subject" class="form-control" type="text" id="Subject" name="Subject">
                    </div>

                </div>

                <div class="row ml-0 mt-50">

                    <div class="col-sm-12 col-md-12 pl-0">
                        <label>Message</label>
                        <textarea id="Message" name="Message" class="form-control"></textarea>
                    </div>


                </div>


                <div class="row ml-0 mt-50">

                                   <button class="btn-submit" type="submit">Submit</button>

                                </div>


            </form>
        </div>

        <div class="col-sm-12 col-md-5 pr-0">
            <img loading="lazy" src="~/Content/Graphical Assets/Home/map.jpg" class="img-responsive" alt="Map of Azan Property">

        </div>
    </div>
</section>


</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous"></script>

<script src="~/Scripts/Homepage/homepage.js">

</script>

