@model dynamic

@{
    ViewBag.Title = "Customer Inquiry";
}

<link rel="stylesheet" href="~/Content/Styles/inquiry.css"/>

<section class="container-fluid row-gutters-void page-banner">
    <div class="container row-gutters-void page-banner-container">
        <h1 class="heading-detail-design">Customer Request</h1>
    </div>
</section>


<section class="container-fluid row-gutters-void mt-100 text-center inquiry-content-main">
    <p>Request Form</p>
    <h2>Customer Request Form</h2>
</section>

<section class="container row-gutters-void mt-50 inquiry-card">
<h4>Step 1</h4>
</section>
