@model dynamic

@{
    ViewBag.Title = "Customer Inquiry";
}

<link rel="stylesheet" href="~/Content/Styles/inquiry.css"/>

<section onload="bringAllCountries()" class="container-fluid row-gutters-void page-banner">
    <div class="container row-gutters-void page-banner-container">
        <h1 class="heading-detail-design">Customer Request</h1>
    </div>
</section>


<section class="container-fluid row-gutters-void mt-100 text-center inquiry-content-main">
    <p>Request Form</p>
    <h2>Customer Request Form</h2>
</section>

<section id="step-1" class="container row-gutters-void mt-50 inquiry-card wow animate__fadeInUp" data-wow-duration="1s">
    <h4>Step 1 of 2</h4>

    @* Checkbox Fields *@
    <div class="row form-checkbox-fields mt-50 pl-15">

        <label class="container-checkbox">
            Plot
            <input id="plot" type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>

        <label class="container-checkbox">
            Rent
            <input id="rent" type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container-checkbox">
            House
            <input id="house" type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container-checkbox">
            General
            <input id="general" type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container-checkbox">
            Files
            <input id="files" type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container-checkbox">
            Apartment
            <input id="apartment" type="checkbox">
            <span class="checkmark"></span>
        </label>


    </div>

    @* Dropdown Fields *@
    <div class="row form-dropdown-fields mt-60">
        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Country
            </label>
            <select onchange="countryChange()" id="country" name="country" class="form-control">
                <option value="null">Select</option>
            </select>
        </div>

        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                City
            </label>
            <select onchange="cityChange()" id="city" name="city" class="form-control">
                <option value="null">Select</option>
            </select>
        </div>


        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Location
            </label>
            <select id="locations" name="locations" class="form-control">
                <option value="null">Select</option>
            </select>
        </div>

        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Area
            </label>
            <select id="area" name="area" class="form-control">
                <option value="null">Select</option>
            </select>
        </div>

        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Max Price
            </label>
            <input type="number" id="maxprice" name="maxprice" class="form-control"/>

        </div>

        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Min Price
            </label>
            <input type="number" id="minprice" name="minprice" class="form-control"/>

        </div>



    </div>

    @* Textarea *@
    <div class="row form-textarea-field">
        <div class="col-md-12 col-sm-12 each-inquiry-field">
            <label>
                Message
            </label>
            <textarea rows="4" cols="50" maxlength="500" id="message" name="message" class="form-control"></textarea>
        </div>
    </div>

    @* Next Button *@
        <div class="row form-textarea-field mt-40 ml-0">
           <button onclick="triggerStep2()" class="step-completion-btn">Next</button>
        </div>

</section>


<section style="display: none" id="step-2" class="container row-gutters-void mt-50 inquiry-card wow animate__fadeInUp" data-wow-duration="2s">
    <h4>Step 2 of 2</h4>


    @* Dropdown Fields *@
    <div class="row form-dropdown-fields mt-60">




        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
               Name
            </label>
            <input placeholder="Enter Email" type="number" id="name" name="name" class="form-control"/>

        </div>


        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Email
            </label>
            <input placeholder="Enter Email" type="email" id="email" name="email" class="form-control"/>

        </div>

        <div class="col-md-4 col-sm-6 each-inquiry-field">
            <label>
                Mobile
            </label>
            <input placeholder="Email" type="tel" id="mobile" name="mobile" class="form-control"/>

        </div>



    </div>


    @* Next Button *@
        <div class="row form-textarea-field mt-40 ml-0">
            <button onclick="submitInquiry()" class="step-completion-btn">Submit</button>

             <button onclick="location.reload();" class="step-completion-btn cancel">Cancel</button>
        </div>

</section>


<script src="~/Scripts/Inquiry/inquiry.js">



</script>
