.feature-subheading-styling
{
  text-align: center;
  font-size:16px;
  font-weight: normal;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.feature-heading-styling
{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0;
  color: #101F41;
  text-transform: capitalize;
  opacity: 1;
}
