.property-details-banner-styling {
  height: 346px;
  background-origin: padding-box;
  background-size: contain;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: right top;
}

.property-details-banner-styling {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: padding-box;
  background-color: transparent;
  background-clip: padding-box;
  background-size: cover;
  align-items: center;
}

.property-details-banner-styling h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: SemplicitaProBold, serif;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: capitalize;
}

.heading-detail-design {
  text-align: left;
  font-weight: bold;
  font-family: SemplicitaProBold, serif;
  letter-spacing: 0;
  font-size: 28px;
  color: #000000;
  text-transform: capitalize;
  margin: 0 0;
}

.content-detail-design {
  text-align: left;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
  color: #000000;
  margin: 0 0;
}

.property-gallery img {
  border-radius: 12px;
}

.table.property-detail-table > thead > tr > th {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
  font-family: SemplicitaPro, serif;
}

.table.property-detail-table > thead > tr {
  background: #F6F6F6 0 0 no-repeat padding-box;
  border-radius: 12px 12px 0 0;
}

.table.property-detail-table > tbody > tr > td {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
}

.table.property-detail-table > thead > tr > th, .table.property-detail-table > tbody > tr > th, .table.property-detail-table > tfoot > tr > th, .table.property-detail-table > thead > tr > td, .table.property-detail-table > tbody > tr > td, .table.property-detail-table > tfoot > tr > td {
  padding: 15px 0;
}

.section-similar-property h4 {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
  font-family: SemplicitaProBold, serif;
  letter-spacing: 0;
  color: #101F41;
  text-transform: capitalize;
  opacity: 1;
}

.property-detail-naming-text {
  text-align: left;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #7B7B7B;
}

.property-detail-naming {
  background: #F3F3F3 0 0 no-repeat padding-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-image-section img {
  border-radius: 8px;
  border: 1px solid transparent;
  max-width: 556px;
}

.each-image-thumbnail {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline;
}

.all-thumbnails {
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}

.all-image-section {
  max-width: 556px;
}

.detail-table-section {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 24px #00000014;
  border-radius: 12px;
}

.detail-table-section-heading {
  padding: 25px 25px;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  font-family: "SemplicitaPro", serif;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
}

.table-value-style {
  text-align: right;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
  font-size: 12px;
  font-family: "Poppins", "sans-serif";
  letter-spacing: 0.24px;
  color: #000000;
  width: 65px;
  padding-right: 20px !important;
  vertical-align: middle !important;
}

.table-key-style {
  text-align: left;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
  font-size: 12px;
  font-family: "Poppins", "sans-serif";
  letter-spacing: 0.24px;
  color: #086A9D;
  width: 35%;
  vertical-align: middle !important;
  padding-left: 25px !important;
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .main-image-section img {
    max-width: 100%;
  }

  .table-section {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=propertyDetail.css.map */
