.search-banner-styling {
  height: 346px;
  background-origin: padding-box;
  background-size: contain;
  background-color: white;
  background-image: url("../Graphical Assets/Common/banner_contect_us@2x.png");
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.search-container-styling {
  width: 100%;
  background: rgba(255, 255, 255, 0.23) 0 0 no-repeat padding-box;
  border-radius: 20px;
  padding: 40px 50px;
  margin: 0 auto;
  max-width: 1020px;
}
.search-container-styling .location-dd {
  width: 220px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  color: #333333;
  float: left;
  margin-right: 10px;
}
.search-container-styling .price-from-dd {
  width: 140px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  color: #333333;
  float: left;
  margin-right: 10px;
}
.search-container-styling .price-to-dd {
  width: 140px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  color: #333333;
  float: left;
  margin-right: 10px;
}
.search-container-styling .type-dd {
  width: 230px;
  background: white 0 0 no-repeat padding-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  color: #333333;
  float: left;
  margin-right: 10px;
}
.search-container-styling select {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 0 solid transparent;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0;
  color: rgba(0, 59, 73, 0.7);
  padding-left: 10px;
}
.search-container-styling select:focus-visible {
  border: 0 solid transparent;
}
.search-container-styling select:hover {
  border: 0 solid transparent;
}

.search-filter-button {
  background: #003b49 0 0 no-repeat padding-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  color: white;
  text-transform: capitalize;
  padding: 16px 48px;
  float: left;
  border: 0 solid transparent;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .search-banner-styling {
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-origin: padding-box;
    background-color: transparent;
    background-clip: padding-box;
  }

  .search-container-styling {
    padding: 20px 25px;
    width: 100%;
  }

  .search-container-styling .type-dd {
    width: 100%;
    margin-right: 0;
  }

  .search-container-styling .location-dd {
    width: 100%;
    margin-right: 0;
  }

  .search-container-styling .price-from-dd {
    width: 50%;
    margin-right: 0;
  }

  .search-container-styling .price-to-dd {
    width: 50%;
    margin-right: 0;
  }

  .search-filter-button {
    width: 100%;
  }

  .property-listed-items .individual-item {
    padding-left: 15px;
  }

  .search-property-grid h2.heading {
    text-align: center !important;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .search-banner-styling {
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-origin: padding-box;
    background-color: transparent;
    background-clip: padding-box;
  }

  .search-container-styling {
    padding: 20px 25px;
    width: 100%;
  }

  .search-property-grid h2.heading {
    text-align: center;
  }

  .property-listed-items .individual-item {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 823px) and (orientation: landscape) {
  .search-banner-styling {
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-origin: padding-box;
    background-color: transparent;
    background-clip: padding-box;
  }

  .search-container-styling {
    padding: 20px 25px;
    width: 100%;
  }

  .search-container-styling .type-dd {
    width: 100%;
    margin-right: 0;
  }

  .search-container-styling .location-dd {
    width: 100%;
    margin-right: 0;
  }

  .search-container-styling .price-from-dd {
    width: 50%;
    margin-right: 0;
  }

  .search-container-styling .price-to-dd {
    width: 50%;
    margin-right: 0;
  }

  .search-filter-button {
    width: 100%;
  }

  .property-listed-items .individual-item {
    padding-left: 15px;
  }

  .search-property-grid h2.heading {
    text-align: center !important;
  }
}
.search-property-grid h2.heading {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  font-family: "SemplicitaProBold", "serif";
  letter-spacing: 0;
  color: #101f41;
  text-transform: capitalize;
  opacity: 1;
}

/*# sourceMappingURL=search.css.map */
